@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Merriweather|Sacramento&display=swap');

$c-b-head: rgba(73, 100, 116, 0.966);
$c-b-cover:rgba(212, 240, 237, 0.89);
$c-b-txt-: rgba(37, 192, 171, 0.753);
$qq :rgb(9, 102, 156);

$c-grey: rgb(21, 26, 29);
$c-grey-txt: rgba(212, 240, 237, 0.89);
$c-grey-b: #4a4a4a;


$c-green- : rgba(36, 97, 21, 0.616);
$c-green-back: rgba(158, 228, 141, 0.847);
$c-green-txt:  rgba(36, 97, 21, 1);
$c-green-kaki: #356822;
$c-green-1: #8eb863;
$c-green-2: rgba(162, 218, 103, 0.897);
$c-green-3: rgb(223, 233, 213); 
$c-green-4:rgb(0, 38, 51);

/*Tablets*/
$c-yellow: rgb(238, 241, 16);
$c-orange: #fdb021;

/*Timeline*/
$c-or-light:rgb(238, 120, 93);
$c-or-dark:rgb(148, 41, 17);
$c-or-dark:rgba(190, 84, 90, 0.876);

$c-or-cafe:rgba(190, 92, 46, 0.918);
$c-or-rose: #F670B5;

/*text*/
$c-g-text:rgba(35, 87, 80, 0.658);


$normal-weight:300;
$bold-weight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
